:root {
  --primary-color: #6ac7cd;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

.msg {
  width: 100%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 5px;
  list-style: none;
}

.success {
  color: green;
  border: 1px solid green;
  background: lightgreen;
}

.error {
  color: red;
  border: 1px solid red;
  background: rgb(245, 178, 178);
}

.forgot-password {
  margin-top: 1rem !important;
}

.working-hour-field {
  position: relative;
  padding: 1rem 2rem !important;
  padding-bottom: 0.5rem !important;
}
.working-hour-field .delete-btn {
  position: absolute;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
}

.edit-facility-detail-form {
  position: relative !important;
}
.populating-form-msg {
  position: absolute !important;
  top: -35px;
  right: -5px;
}

.header-label {
  display: inline !important;
}

.users-list i {
  padding-top: 0.5rem !important;
}
.users-list .content.header {
  padding-top: 0.75rem !important;
}
/* **** Main Header */
.main-header {
  height: 60px;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  background: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.main-header h1 {
  color: #fff !important;
  letter-spacing: 0px;
}
.main-header ui h3 {
  padding-top: 0 !important;
}
.main-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header > div span,
.main-header > div i {
  font-size: 1.2rem;
  font-weight: bold;
}

/* **** Simple Header */
.simple-header {
  height: 60px;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  background: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-bottom: 4px solid #011727;
}

/* **** Left Sidebar */
.left-sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 50px;
  height: calc(100vh - 60px);
  background: #011727;
}
.left-sidebar ul {
  list-style: none;
  width: 100%;
}
.left-sidebar ul li {
  color: #a8a8a8;
}
.left-sidebar ul li.current {
  background-color: #6dc8cd;
  color: #fff;
}
.left-sidebar ul li:hover {
  background-color: #6dc8cd;
  color: #fff;
}
.left-sidebar ul li:first-child {
  border-top: 1px solid #2d2e2f;
}
.left-sidebar ul li a {
  border-bottom: 1px solid #2d2e2f;
  color: inherit;
  display: flex;
  writing-mode: tb-rl;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 1.2px;
  padding: 1rem 0;
}
.left-sidebar ul li a:active {
  background: none;
}
.left-sidebar ul li span {
  margin-right: 0.5rem;
}
.left-sidebar ul li i {
  margin-bottom: 1rem;
  transform: rotate(90deg);
}

/* **** Main Content */
.admin-wrapper {
  height: calc(100vh - 60px);
}
.admin-content {
  margin-left: 50px;
  flex: 8; /*take up 80% of the page*/
  height: 100%;
  padding: 1.5rem 2rem;
  overflow-y: auto;
}
.admin-content .search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

/* **** Authentication */
.auth-content {
  width: 40%;
  margin: 50px auto;
}

.auth-content form p {
  margin-top: 2rem;
  text-align: center;
}
.auth-content form p a:hover {
  color: #02409c;
  font-style: italic;
}

@media only screen and (max-width: 934px) {
  .auth-content {
    width: 50%;
  }
}
@media only screen and (max-width: 750px) {
  .auth-content {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .auth-content {
    width: 90%;
  }
}

/* **** Page Loading  */
.page-loading {
  height: 100vh;
  width: 100vw;
}
.page-loading .active {
  background: var(--primary-color);
}

/* **** Facilities */
.facilities-list .header {
  text-transform: capitalize;
  margin-bottom: 0.35rem !important;
}
.facilities-list .header span {
  font-size: 0.9rem;
  color: #333;
}

.facilities-list .description .wrapper {
  display: flex;
  justify-content: space-between;
}
.facilities-list .description .text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#roomPhoto {
  display: block;
  border-radius: 10%;
}
.location {
  width: 90%;
  display: flex;
}
.latitude {
  flex: 1;
  padding: 0.7rem 1rem;
  border-radius: 7px;
  margin-right: 30px;
  border: 1px solid white;
  line-height: 1rem;
  font-size: 1.2rem;
}
.longitude {
  flex: 1;
  padding: 0.7rem 1rem;
  border-radius: 7px;
  border: 1px solid white;
  line-height: 1rem;
  font-size: 1.2rem;
}
.form-selectors,
.working-hours-wrapper {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.category,
.campus,
.Days,
.Start-time,
.End-time {
  flex: 1;
}
.Start-time,
.End-time {
  margin-left: 0.25rem;
}
.category .category-option,
.campus-option,
.days,
.time {
  padding: 0.7rem 1rem;
  border-radius: 7px;
  /* margin-right: 30px; */
  border: 1px solid white;
  line-height: 1rem;
  font-size: 1.2rem;
  margin-top: 10px;
}
.New-hour {
  width: 90%;
}
.new-hour {
  float: right;
  margin-top: 20px;
}
@media only screen and (max-width: 1022px) {
  .days {
    padding-right: 5px;
  }
}
@media only screen and (max-width: 993px) {
  .latitude {
    /* margin-right: 5px; */
    width: 40px;
  }
  .longitude {
    width: 40px;
  }
}
@media only screen and (max-width: 750px) {
  .admin-wrapper .admin-content {
    padding: 40px 40px 40px;
  }
  .admin-content .main-section {
    padding-left: 20px;
  }
  .admin-content .top-section {
    padding-left: 5%;
  }
  .admin-content .add-content {
    padding-left: 10px;
  }
  .campus-option {
    width: 160px;
  }
  .latitude {
    margin-right: 5px;
    width: 50px;
  }
  .longitude {
    width: 50px;
  }
  .working-hours {
    margin-top: 10px;
  }
  .days {
    width: 100px;
  }
  .time {
    width: 100px;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .admin-wrapper .admin-content {
    padding: 40px 10px 10px;
  }
  .working-hours {
    padding-left: 0px;
  }
  .days {
    width: 80px;
  }
  .time {
    width: 80px;
    /* padding-right: 5px */
  }
}
@media only screen and (max-width: 469px) {
  .top-section .btn {
    margin-top: 10px;
  }
  .category-option {
    width: 120px;
  }
  .campus-option {
    width: 120px;
  }
}
@media only screen and (max-width: 360px) {
  .admin-wrapper .admin-content {
    padding: 40px 0px 0px;
  }

  header {
    height: 90px;
  }
  .top-section .btn {
    margin-top: 10px;
  }
  .category-option {
    width: 90px;
  }
  .campus-option {
    width: 90px;
  }
}
